<div class='container'>
    <div>
        <h1>Khách hàng đang cần hổ trợ</h1>
        <main>
            <h4>"<%=msg %>"</h4>
            <br />
            <a href="<%=link %>" class='action'>Xem Ngay</a>
        </main>
    </div>

</div>