<html>

<head>

    <link rel="stylesheet" href="./chat-notifcation.template.css">
</head>

<body>
    <div class='container'>
        <div>
            <h1>Khách hàng đang cần hổ trợ</h1>

            <main>
                <section>
                    <h4>"Hello how are you"</h4>
                </section>
                <br />
                <a href="<%=link %>" class='action'>Xem Ngay</a>
            </main>
        </div>
        <footer>
            <img src="https://devergroup.io/fonts/logo.svg" width="100px" height="100px" />
            <h2>Cùng nhau phấn đấu, cùng nhau phát triển!.</h2>
        </footer>
    </div>
</body>

</html>